---
hosts:
        - host: host1.example.com
          users:
                - user: admin
                  authorized:
                        - person: alice
                - user: dev1
                  authorized:
                        - person: givi
                        - person: ashot
        - host: host2.example.com
          users:
                - user: admin
                  authorized:
                        - person: givi
                        - person: alice
        - host: host3.example.com
          users:
                - user: admin
                  authorized:
                        - person: alice

