---

hosts:
        - host: host1.example.com
          users:
                - name: ansible
                  authorized:
                        - ansible
                - name: admin
                  authorized:
                        - alice
                - name: dev1
                  authorized:
                        - givi
                        - alice
                - name: dev2
                  authorized:
                        - ashot
                        - alice
                - name: dev3
                  authorized:
                        - ivan
                        - alice
        - host: host2.example.com
          users:
                - name: ansible
                  authorized:
                        - ansible
        - host: nagios.bz8.ru
          users:
                - name: ansible
                  authorized:
                        - ansible
                - name: admin
                  authorized:
                        - alice

