---
hosts:
        - host: host1.example.com
          users:
                - user: admin
                  authorized:
                        - person: alice
                - user: dev1
                  authorized:
                        - person: givi
                        - person: alice
                - user: dev2
                  authorized:
                        - person: ashot
                        - person: alice
                - user: dev3
                  authorized:
                        - person: ivan
                        - person: alice
        - host: host2.example.com
          users:
                - user: admin
                  authorized:
                        - person: givi
                        - person: alice
        - host: nagios.bz8.ru
          users:
                - user: admin
                  authorized:
                        - alice

